<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JetStream_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="JetStream_Service.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JetStream_Service.Properties.Settings>
            <setting name="JWTToken" serializeAs="String">
                <value>eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiJSYXBoaSIsIm5iZiI6MTY3MTExNTEwOSwiZXhwIjoxNjcxMTE2MDA5LCJpYXQiOjE2NzExMTUxMDl9.PVl460QBjqW35WIpgrFhgMeQAKn-DYo8lj1psLdj49kWauvEWvJRVwxD-jJlxqJFDB7ULA6Y7S0sGP0XjokYKQ</value>
            </setting>
            <setting name="APILink" serializeAs="String">
                <value>https://localhost:7060</value>
            </setting>
            <setting name="registrationLink" serializeAs="String">
                <value>/api/Registration</value>
            </setting>
            <setting name="LanguageID" serializeAs="String">
                <value>de-CH</value>
            </setting>
            <setting name="WindowsHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowsWidth" serializeAs="String">
                <value>1000</value>
            </setting>
        </JetStream_Service.Properties.Settings>
        <JetStream_Service.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </JetStream_Service.Settings>
    </userSettings>
</configuration>